body {
    font-family: Montserrat;
}
/*about-us Section*/
    .container .about-us{
        padding: 5% 0;
    }
    .about-us .col-md-6 {
        text-align: center;
    }
    .about-us {
        justify-content: center;
        text-align: center;
    }
/*about-us Section End*/

/*Skill Section*/
    .skills {
        display: flex;
        background-color:#ecf0f5;
    }
    .skills img {
        width:100%;
    }
    .skills .col-6 {
        padding-right: 0;
    }
    .professional-skills {
        padding:8% !important;
    }
    .progress {
        margin: 10px 0;
        height: 5px;
    }
    .progress-bar {
        background-color:#10c9c3;
    }
/*Skill Section End*/

/*feedback Section*/
    .feedback {
        background-color: #10c9c3;
        color: #fff;
        padding: 70px 45px;
        display: flex;
    }
    .feedback .col-lg-3 {
        padding: 50px 0;
        display: flex;
        justify-content: center;
    }
    .feedback i {
        font-size: 40px;
        padding: 0 20px;
    }
    .feedback p {
        margin-bottom: 0;
    }
/*feedback Section End*/

/*Gallery Section*/
        .gallery {
            position: relative; 
        }
        .image {
            display: block;
            width: 100%;
            height: auto;
        }
        .overlay {
          position: absolute; 
          bottom: 0;
          background: rgba(0, 0, 0, 0.8);
          color: #f1f1f1; 
          width: 100%;
          height: 100%;
          transition: .5s ease;
          opacity:0;
          color: white;
          font-size: 40px;
          text-align: center;
        }
        .icon:hover .overlay {
        opacity: 1;
        }
        .overlay i {
            position: absolute;
            top:45%;
            right: 43%;
        }
        .gallery-row-1,.gallery-row-2 {
            display: flex;
        }
        .gallery-row-1.col-12.d-flex.flex-wrap,
        .gallery-row-1 .col-sm-6,.gallery-row-2 .col-sm-12 {
            padding: 0;
        }
        .gallery-row-1 img,.gallery-row-2 img {
            width: 100%;
        }
        .lode-more a {
            text-transform: none;
            color:#8e8e8e;
            text-transform: uppercase;
        }
        .lode-more a:hover {
            text-decoration: none;
        }
        .lode-more {
            padding: 25px 0;
            background-color:#f5f5f5;
        }
/*gallery Section End*/

/*Work section*/
    .col-md-6.work {
        text-align: center;
        margin-bottom: 30px;
    }
    .work-process .row {
        justify-content: center;
        text-align: center;
        margin: 5% 0;
    }
/*Work section End*/

/*services Section*/
    .services{
        background-color: #f5f5f5;
        padding: 40px;
    }
    .services i {
        font-size: 40px;
        color: #656565;
    }
    .services h5 {
        margin-top: 20px;
        font-size: 16px;
        text-transform: uppercase;
    }
    .services p {
        color: #787878;
    }
    .services .col-lg-3 {
        padding: 25px 40px;
    }
    .services .icons:hover {
        background-color:#10c9c3;
        border-radius: 10px;
        transition: .2s ease-in;
    }
    .icons:hover i,
    .icons:hover p,
    .icons:hover h5 {
        color: #fff;
    }
    .services-row-1,.services-row-2 {
        display: flex;
        text-align: center;
    }
/*services Section End*/

/*testimonials Section*/
    .testimonials {
        background-color: #10c9c3;
        min-height: 300px;
        padding: 40px 0;
    }
    .testimonials h2 {
        color: #fff;
    }
    .testimonial h3 {
        padding: 20px 40px;
        color: #fff;
    }
    .testimonial p {
        color: #fff;
    }
    .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    align-items: center;
    }
    .slick-dots li {
        margin: 0 0.25rem;
    }
    .slick-dots button {
            display: block;
            width: 8px;
            height: 8px;
            padding: 0;
            border: none;
            border-radius: 100%;
            background-color:#c2c2c2;
            text-indent: -9999px;
        }
    .slick-dots li.slick-active button {
            background-color: #fff;
            width: 10px;
            height: 10px;

        }
    .slick-dots:focus-visible {
        outline: none !important;
    }
/*testimonials Section End*/

/*clients Section*/
    .clients {
        display: flex;
        min-height: 150px;
    }

    .slick-initialized .slick-slide {
        text-align: -webkit-center;
    }
    span.prev-arrow.slick-arrow {
        width: 35px;
        height: 35px;
        background:rgba(0, 0, 0, .8);
        border-radius: 100%;
        position: absolute;
        margin: 20px;
        z-index: 99;
    }
    .prev-arrow.slick-arrow i {
        color: #fff;
        position: relative;
        top: 15%;
        right:5%;
    }
    span.next-arrow.slick-arrow {
        width: 35px;
        height: 35px;
        background:rgba(0, 0, 0, .8);
        border-radius: 50%;
        position: absolute;
        right: 0;
        margin: 20px;
    }
    .next-arrow.slick-arrow i {
        color: #fff;
        position: relative;
        top: 15%;
        left: 5%;
    }
/*clients Section End*/

/*Contact Form Section*/
    .form-bg {
        background-color: #f5f5f5;
    }
    .contact {
        margin-left: 25%;
        padding-top: 30px;
        padding-bottom: 40px;
        text-align: center;
    }
    .contact p {
        padding-bottom: 20px;
    }
    .contact-form {
        margin-left:16.66667%;
        padding-bottom: 48px;
    }
    .form-control {
        border-radius: 0px;
        border-color: #fff;
    }
    .submit-button .btn-primary {
        background-color: #10c9c3;
        border: none;
        border-radius:0;
        padding: 20px 40px;
        text-transform:uppercase;
        margin-top: 20px;
    }
    .submit-button .btn-primary:active,
    .submit-button .btn-primary:focus {
        background-color: #f5f5f5 !important;
        color: #000 !important;
        border: 1px solid #10c9c3 !important;
    }
/*Contact Form Section End*/

/*footer Section*/
    footer {
        min-height: 186px;
        padding: 70px 0 40px 0;
        background-color: #141414;
        color: #bcbcbc;
    }
    .email ul, .useful-link ul, .More-info ul, .social-link ul {
        list-style: none;
        padding: 0;
    }
    .email ul li, .useful-link ul li, .More-info ul li, .social-link ul li {
        color: #bcbcbc;
    }
    .email a, .useful-link a, .More-info a, .social-link a:hover {
        text-decoration: none;
    }
/*footer Section End*/

/*Media query Section*/
    @media screen and (max-width:480px) {
        .contact-form,.contact {
        margin-left:0;
        }
        .submit-button .btn-primary {
        padding: 10px 20px;
        margin-top: 10px;
        } 
        .services-row-1 .col-sm-12 {
            padding: 15px 50px;
        }
        .services-row-2 .col-sm-12 {
            padding: 15px 50px;
        }
        .col-md-6.work {
        margin-left:0;
        }
        .gallery-row-1, .gallery-row-2 {
            display: unset;
        }
       /* .feedback {
        display:block !important;
        padding: 20px 45px;
        }*/
        .feedback .col-md-3.col-sm-12.d-flex {
        padding: 20px 0;
        }
        .skills {
        display: block;
        }
        .skill-image {
        padding: 0;
        }
        .about-us {
        padding: 20px 20px !important;
        }
        .col-sm-12 .about-us {
            margin-left: 0;
        }
        .testimonial h3 {
        font-size: 20px;
        }
        .testimonials h2 {
        font-size: 30px;
        }
    } 

    @media screen and (max-width:991px) {
        .skills {
            display: block;
            }
            .skill-image {
            padding: 0;
            }
        .feedback {
            display:block !important;
            padding: 20px 45px;
            }
        .feedback .col-md-12 {
            display: block;
            text-align: center;
            padding: 30px 0;
        }
        .feedback .col-md-12 h6 {
            padding-top: 10px;
        }
        .col-md-6.work {
            margin-left:0;
            }
        .services-row-1,.services-row-2 {
            display: unset;
            }
            .services-row-1 .col-md-6,.services-row-2 .col-md-6 {
                padding: 15px 50px;
                text-align: center;
            }
        .contact-form,.contact {
            margin-left:0;
            }
            .submit-button .btn-primary {
            padding: 10px 20px;
            margin-top: 10px;
            }
    }
/*Media query Section*/